# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Helen\Documents\MBA_Full_Stack_Developer_Impacta\Automated Software Testing\Atividade_1\fsd-palindromo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
